@page
@model IndexModel
@using TodoApp.Core;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">All ToDos:</h1>
    @foreach(TodoItem todoItem in this.Model.Items)
    {
        <div>@todoItem.Title</div>
        <div>@todoItem.IsComplete</div>
    }

</div>
